<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Discover books by A.N. Author, illustrated by P. Picture. Explore our category of books, starting at just $17.99, featuring works with up to 784 pages!"
    />
    <title><%= docTitle %></title>
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/add-product.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="/shop">Shop</a>
          </li>
          <li>
            <a href="/admin/add-product">Add Product</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <h3>Add a prouduct using this form</h3>
      <form action="/admin/product" method="POST">
        <input
          type="text"
          name="name"
          id="name"
          autocomplete="name"
          placeholder="Your product name"
          aria-required="true"
          required
        />
        <textarea
          name="description"
          id="description"
          autocomplete="description"
          placeholder="Your product description"
          aria-required="true"
          required
        ></textarea>
        <button type="submit">Add Product</button>
      </form>
    </main>
  </body>
</html>
