<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/styles/add-product.css" />
  </head>
  <body>
    <%- include('includes/nav.ejs') %>
    <main>
      <h3>Add a prouduct using this form</h3>
      <form action="/admin/add-product" method="POST">
        <input
          type="text"
          name="name"
          id="name"
          autocomplete="name"
          placeholder="Your product name"
          aria-required="true"
          required
        />
        <textarea
          name="description"
          id="description"
          autocomplete="description"
          placeholder="Your product description"
          aria-required="true"
          required
        ></textarea>
        <button type="submit">Add Product</button>
      </form>
    <%- include('includes/end.ejs') %>
