<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Discover books by A.N. Author, illustrated by P. Picture. Explore our category of books, starting at just $17.99, featuring works with up to 784 pages!"
    />
    <title><%= docTitle %></title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="/shop">Shop</a>
          </li>
          <li>
            <a href="/admin/add-product">Add Product</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <p>No Product Found</p>
    </main>
  </body>
</html>
