main {
  min-height: 80vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

main > form {
  padding: 40px 0;
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}

main > form > input,
textarea,
button {
  padding: 5px;
}
